@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primeColor: #818479;
  --seccondColor: #b5cbb7;
  --thirdColor: #d2e4c4;
  --fourthColor: #e4e9b2;
  --fifthColor: #e7e08b;
  --blueColor: cadetblue;
  --whiteColor: #ffff;
  --blackColor: rgb(0, 0, 0);
  --lightGrey: rgb(241, 241, 241) f;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  padding-top: 66px;
  color: var(--blackColor);
  background: var(--whiteColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

.button-prime {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--blackColor);
  background: var(--thirdColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--thirdColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}
.button-prime:hover {
  background: transparent;
  color: var(--thirdColor);
}

.button-prime a {
  text-decoration: none;
  color: black;
}

/* end of global */

/* Nav*/

.navbar-collapse {
  background-color: var(--thirdColor);
}

.btn-outline-success {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--whiteColor);
  background: var(--blueColor);
  padding: 0.4rem 0.9rem;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}

.btn-outline-success {
  border-color: var(--blueColor);
}

.btn-outline-success:hover {
  background: var(--primeColor);
  color: var(--whiteColor);
  border-color: var(--primeColor);
}

.form-control {
  text-align: center;
  border-color: var(--blueColor);
}

.navbar-nav a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--blueColor);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: var(--mainSpacing);
}
.nav-link:hover {
  background-color: var(--blueColor);
  color: white;
}

.navbar-toggler {
  background-color: var(--thirdColor);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--lightGrey);
  z-index: 1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.nav-button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--primeColor);
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  margin: 12px;
  background-color: var(--fourthColor);
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--blackColor);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--blueColor);
}

.vissible-nav {
  height: 280px;
  width: auto;
}

img {
  height: 50px;
}

nav a {
  text-decoration: none;
  color: var(--whiteColor);
}

/*Nav end*/

/* Hero */
.bannerHero,
.hotelsHero {
  min-height: calc(80vh - 66px);
  background: url("../media/bryggen1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotelsHero {
  background-image: url("../media/bryggen2.jpg");
  min-height: 80vh;
}
.contactHero {
  min-height: calc(80vh - 66px);
  background: url("../media/contact.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Hero */

/*banner*/

.banner {
  display: inline-block;
  background: rgba(75, 75, 75, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  border-radius: 15px;
}
.banner h1 {
  font-size: 2.5rem;
  color: var(--thirdColor);
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/*banner end*/

/*Login*/

.login-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/*Login end*/

/*Featured title*/
.featured-title {
  text-align: center;
  margin-top: 2rem;
}
.featured-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
/*Featured title end*/

/*hotels*/

.hotel-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.card {
  text-align: center;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  padding: 1em;
  box-shadow: var(--darkShadow);
  border: 3px solid var(--blueColor);
}
.hotel-price {
  text-align: center;
  padding: 10px;
}

.hotel-price p {
  margin: auto;
  color: var(--blueColor);
}

.card h3 {
  color: var(--blueColor);
}
.button-card {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--blackColor);
  background: var(--seccondColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--seccondColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}
.button-card a {
  text-decoration: none;
  color: var(--whiteColor);
}

.button-card:hover {
  background: var(--blueColor);
}

.hotel-container img {
  height: 150px;
  width: auto;
}

/*hotel end*/

/*hotel details*/

.hotel-banner img {
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  margin: auto;
}
.hotel-container {
  display: flex;
  justify-content: space-evenly;
  padding: 6em 6em 2.5em 6em;
  gap: 6em;
}

.name {
  text-align: left;
}

.cardhotel-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  
}
.cardhotel-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}


.product-content {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: var(--blueColor);
  margin: 1rem 0;
}

.product-rating {
  color: #ffc107;
}
.product-rating span {
  font-weight: 600;
  color: var(--primeColor)
}

.info-grid ul {
  margin: 1rem 0;
  font-size: 1rem;
  padding-bottom: 0.6rem;
  list-style: none;
  color: var(--primeColor);
}
.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--blueColor);
}
.product-price span {
  font-weight: 400;
}

.product-detail h2 {
  text-transform: capitalize;
  color: var(--primeColor);
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li {
  margin: 0;
  list-style: none;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span {
  font-weight: 400;
}

/*hotel details*/

/*booking*/
.search-bar {
  box-shadow: none;
  font-size: 1em;
  padding: 0.9rem;
  width: 50%;
  margin: auto;
}

.form-container {
  width: 360px;
  background-color: var(--fifthColor);
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}
.form-container h3 {
  color: var(--blueColor);
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

input {
  background: #f2f2f2;
}

button {
  background: var(--blueColor);
  color: white;
  cursor: pointer;
}

.form-field button:hover {
  background-color: var(--primeColor);
}

/*booking end*/

/*Info title*/

.info-title {
  text-align: center;
  margin-top: 2rem;
}

.info-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/*info section*/

.info {
  padding: 5rem 0;
  cursor: pointer;
  border-radius: 10px;
}

.info {
  background-color: var(--thirdColor);
  text-align: center;
}
.info-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.info p {
  color: black;
}

.info span {
  display: inline-block;
  color: var(--blueColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.hotelsHero h1 {
  color: var(--whiteColor);
}

/*info section end*/

/*contact*/
.contactHero h1 {
  color: var(--whiteColor);
}
.contact-title {
  text-align: center;
}

input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/*admin*/
.admin-alert{
  color: var(--whiteColor);
}
.message-container {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 150px;
  border: 3px solid var(--thirdColor);
  text-align: left;
}

.btn-logout {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--blackColor);
  background: var(--thirdColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--thirdColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--blueColor);
  
}

.btn-logout:hover {
  border: 3px solid var(--thirdColor);
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-messages {
  max-width: 300px;
  min-height: 250px;
  background: var(--blueColor);
  padding: 30px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
}

.card-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-content {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn {
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.card-booking {
  max-width: 300px;
  min-height: 250px;
  background: var(--blueColor);
  padding: 30px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
}

button:hover {
  background-color: var(--seccondColor);
}

.accordion-button:not(.collapsed) {
  background-color: var(--seccondColor);
}

.accordion-button:not(.collapsed) {
  color: var(--whiteColor);
}

.accordion-header {
  background-color: var(--seccondColor);
}

.accordion {
  background-color: var(--seccondColor);
}

/*admin end*/

/*footer*/
.site-footer {
  background-color: var(--seccondColor);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: var(--primeColor);
}
.site-footer hr {
  border-top-color: var(--fifthColor);
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: var(--primeColor);
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: var(--primeColor);
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: var(--fifthColor);
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: var(--primeColor);
}
.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  color: var(--whiteColor);
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.instagram:hover {
  background-color: #c948da;
}

/*Footer end*/

/*Responsive*/

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin: auto;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
  .info-center {
    width: 95vw;
    max-width: 1170px;
  }
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
  .card-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .cardhotel-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
  .btn-logout {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: var(--blackColor);
    background: var(--thirdColor);
    padding: 0.4rem 0.9rem;
    border: 3px solid var(--thirdColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--blueColor);
    margin-left: 1000px;
  }
}

/*Responsive end*/
