* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primeColor: #818479 ;
    --seccondColor: #B5CBB7;
    --thirdColor: #D2E4C4;
    --fourthColor: #E4E9B2;
    --fifthColor: #E7E08B;
    --blueColor: cadetblue;
    --whiteColor: #ffff;
    --blackColor: rgb(0, 0, 0);
    --lightGrey:rgb(241, 241, 241)f;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);



}

/* globals */
body {
    padding-top: 66px;
    color: var(--blackColor);
    background: var(--whiteColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
  }
  h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
  }
  h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
   
  }
 
  .button-prime {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: var(--blackColor);
    background: var(--thirdColor);
    padding: 0.4rem 0.9rem;
    border: 3px solid var(--thirdColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
  }
  .button-prime:hover {
    background: transparent;
    color: var(--thirdColor);
  }
  
  
  /* end of global */


  /* Nav*/
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: var(--lightGrey);
    z-index: 1;
   
   
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    
  
  }
  .nav-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-toggle{
    font-size: 1.5rem;
    color: var(--primeColor);
    
  }

  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
    margin: 12px;
    background-color: var(--fourthColor);
   
    
  
    
  }
  .nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--blackColor);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: var(--mainSpacing);
  }
  .nav-links a:hover {
    color: var(--blueColor);
  }
  
  .vissible-nav {
    height: 230px;
    width: auto;
   

  }

  img{
      height: 50px;
      
      
  }

 
  /*Nav end*/

  /* Hero */
.bannerHero,
.hotelsHero {
  min-height: calc(80vh - 66px);
  background: url("./media/bryggen1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotelsHero {
  background-image: url("./media/bryggen2.jpg");
  min-height: 80vh;
}
.contactHero{
    min-height: calc(80vh - 66px);
  background: url("./media/contact.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}
/* End Hero */

/*banner*/

.banner{
  display: inline-block;
  background: rgba(75, 75, 75, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  border-radius: 15px;
}
.banner h1 {
  font-size: 2.5rem;
  color: var(--thirdColor);
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}





/*banner end*/


/*Featured title*/
.featured-title{
    text-align: center;
    margin-top: 2rem;

}
.featured-title h4{
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}
/*Featured title end*/

/*Featured hotels*/
.featured-center{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
    text-align: center;
    
    
}



/*Featured hotel end*/


/*Info title*/

.info-title{
    text-align: center;
    margin-top: 2rem;
}

.info-title h4{
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/*info section*/

.info {
    padding: 5rem 0;
    cursor: pointer;
    border-radius: 10px;
}

.info{
    background-color: var(--thirdColor);
    text-align: center;
}
.info-center{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}

.info span {
    display: inline-block;
    color:var(--blueColor);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }


  /*Footer*/

  /*footer*/

.footer-container{
    max-width: 1170px;
    margin: auto;
    
    


}
.row{
    display: flex;
    flex-wrap: wrap;
    
}

.footer{
    background-color:var(--seccondColor);
    padding: 70px 0;
    padding-left: 80px;
    
  

    
    
  
}

.footer-col{
    width: 25%;
    padding: 0 15px;
   
   
    
}

.footer-col h4{
    font-size: 18px;
    color: var(--blueColor);
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
   
    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;

    height: 2px;
    box-sizing: border-box;
    width: 50px;
    
    
}
.footer-col ul{
    list-style: none;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    
    
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--whiteColor);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    list-style: none;
}
.footer-col ul li a:hover{

    padding-left: 10px;
    
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: rgb(230, 223, 223);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
   color: var(--fifthColor);

}


.footer .social-links{
    
   color: var(--whiteColor);
   cursor: pointer;
 
   


}



@media screen and (min-width: 576px) {
    .banner {
      padding: 2rem 3rem;
    }
    .banner h1 {
      font-size: 3rem;
    }
    
    
  }

@media screen and (min-width: 768px) {
    .nav-button {
      display: none;
    }
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin: auto
    }
    .nav-links a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
   
  }

  
  @media screen and (min-width: 992px) {
    .banner {
      padding: 2rem 6rem;
    }
    .banner h1 {
      font-size: 4rem;
    }
    .info-center {
        width: 95vw;
        max-width: 1170px;
      }
    
  }
  